.center-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 500px;
    
  }
  
  ion-content {
    
    --background: none;
  }
  
  .tarjeta-transparente {
    background: linear-gradient(90deg, #fff7ad, #ffa9f9);
    border-style: ridge;
    border-width: 2px;
    margin-top: -50px;
    
  }

  .ion-transparent {
    background: linear-gradient(90deg, #fff7ad, #ffa9f9);

  }
  
  .gradient-background {
    background: linear-gradient(90deg, #fff7ad, #ffa9f9);
    
  }

  .header {
  
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;

  
    h1 {
      color: black;
      font-weight: bold;
    }
  
  }

  .tarjeta-transparente {
    
    background-color: whitesmoke;
    
  }

  .input-white-background {
    --background: #ffffff;
  }

  .credenciales-login { 
    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    
  }


