<ion-header [translucent]="true">

    <ion-title  >
      <div class="header">¿Tienes problemas para ingresar a tu cuenta?</div>
    </ion-title>
</ion-header>

<ion-content class="gradient-background">
  <div class="center-container">
    <ion-card class="tarjeta-transparente">
      <ion-card-header>
        <ion-card-title class="credenciales-login">Recuperar contraseña</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form>
          <ion-item>
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input type="email" ngModel required name="email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"></ion-input>
          </ion-item>
          <div *ngIf="email.invalid && (email.dirty || email.touched)">
            <p>Por favor, ingrese un correo electrónico válido</p>
          </div>
          <br>
          <ion-button expand="block" type="submit" id="enlace">Enviar enlace de recuperación</ion-button>
          <ion-modal trigger="enlace" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
            <ng-template>
              <div class="block">Se ha enviado un codigo de recuperación a su correo</div>
            </ng-template>
          </ion-modal>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>