ion-grid {
    border: 1px solid #e0e0e0;
    ion-row {
      ion-col {
        border: 1px solid #e0e0e0;
        text-align: center;
        width: 0%;
      }
    }
  }
  
  ion-button{
    width: -webkit-fill-available;
  }