<ion-header>
  <ion-toolbar>
    <ion-title>
      Calendary Student
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="gradient-background">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

  <div class="header">
    <h1>¡Bienvenido a tu Calendario Estudiantil!</h1>
    <img src="../../assets/img/books.png" alt="Imagen de bienvenida">
  </div>

  <div class="button-container">

    <ion-button color="dark" id="certamenes">Certamenes</ion-button>
    <ion-button color="dark" id="controles">Controles</ion-button>
    <ion-button color="dark" id="trabajos">Trabajos Practicos</ion-button>

    <ion-modal trigger="certamenes" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
      <ng-template>
        <div class="block">En desarrollo</div>
      </ng-template>
    </ion-modal>

    <ion-modal trigger="controles" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
      <ng-template>
        <div class="block">En desarrollo</div>
      </ng-template>
    </ion-modal>

    <ion-modal trigger="trabajos" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
      <ng-template>
        <div class="block">En desarrollo</div>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>