ion-content {
  --background: linear-gradient(90deg, #fff7ad, #ffa9f9);
}

.header {
  text-align: center;
  font-family: 'Montserrat', sans-serif;

  h1 {
    color: black;
  }

  img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
}


.button-container {
  text-align: center;

  ion-button {
    margin: 10px;
    --color: #000;
    transition: transform 0.3s ease-in-out;
  }

  ion-button:hover {
    transform: scale(1.1);
  }

  ion-button:active {
    transform: scale(0.9);
  }
}